/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.projects-thumb {
    background: #f9f9f9;
    border: 2px solid transparent !important;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 40px;
    transition: all ease 0.5s;
}

.projects-thumb:hover {
    border: 2px solid #14b789 !important;
}

/* .projects-thumb .popup-image {
  display: block;
  width: 100%;
  height: 100%;
} */

.projects-image {
    border-radius: 20px;
    display: block;
    width: 100%;
    transform: rotate(10deg) translateY(80px);
    transition: all ease 0.5s;
}
.projects-thumb:hover .projects-image,
.projects-thumb:focus .projects-image {
    transform: rotate(0) translateY(0);
    transition: all ease 0.4s;
}
.projects-title {
    margin-bottom: 20px;
}

.projects-tag {
    font-size: 12px;
    font-weight: 500;
    color: #14b789;
    text-transform: uppercase;
    margin-bottom: 5px;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.contact {
    background: #f9f9f9 !important;
}

.contact-info {
    background: #ffffff !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 60px 30px 30px 30px;
    height: 100%;
}

.contact-info-border-start {
    border-right: 1px solid #e9eaeb !important;
    border-radius: 10px 0 0 10px !important;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.social-icon {
    margin: 0;
    padding: 0;
}

.social-icon-item {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.social-icon-link {
    border: 1px solid #e9eaeb;
    border-radius: 100px;
    font-size: 14px !important;
    color: #000000 !important;
    display: inline-block;
    vertical-align: top;
    margin: 2px 2px 5px 2px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.social-icon-link:hover {
    background: #14b789;
    border-color: transparent;
    color: #ffffff !important;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.custom-form .form-control {
    background: #ffffff;
    box-shadow: none !important;
    border: 2px solid #e9eaeb;
    color: #717275;
    margin-bottom: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    outline: none !important;
}

.form-floating > label {
    color: #717275;
}

.form-check-inline {
    vertical-align: middle;
    width: 100% !important;
    position: relative;
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 24px !important;
    padding: 0 !important;
}

.custom-form .form-check-label {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.form-check-label-text {
    color: #717275;
    display: block;
    font-size: 16px;
    margin-top: 5px;
}

.form-check-input[type='checkbox'] {
    background: #ffffff;
    border: 2px solid #e9eaeb !important;
    box-shadow: none !important;
    outline: none !important;
    width: 100% !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    padding: 40px 0 !important;
}

/* .form-check-input {
  border: 2px solid #e9eaeb !important;
} */

.form-check-input:hover,
.form-check-input:checked {
    background-color: transparent !important;
    border-color: #14b789 !important;
}

.custom-form .form-control:hover,
.custom-form .form-control:focus {
    background: transparent !important;
    border-color: #14b789 !important;
}

.custom-form .form-floating textarea {
    height: 150px;
}

.custom-form button[type='submit'] {
    background: #14b789;
    border: none;
    border-radius: 100px;
    color: #ffffff;
    font-weight: 700;
    transition: all 0.3s;
    margin-bottom: 0;
}

.custom-form button[type='submit']:hover,
.custom-form button[type='submit']:focus {
    background: #535da1 !important;
    border-color: transparent;
}

.form-check-icon {
    color: #14b789;
}
